:root {
  --color-border: #1F2937;
  --background-color: #E0FDF4;
  --color-secondary: #134E4A;
  --text-foreground: #E0FDF4;
  --text-primary: #1F2937;
  --color-danger: #A50024;
  --color-update: #3B82F6;
  --font-main: "Montserrat", sans-serif;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-main);

  box-sizing: border-box;
}